*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
    GENERAL STYLE
*/
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000, #00001f 75%);
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-content{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    max-height: 1100px;
    min-width: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    width: 50%;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: .1rem #EEEEEE solid;
}
.main{
    width: 80%;
    height: 80%;

    border: 1px solid #EEEEEE;
    border-radius: 1rem;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-buttons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.main-buttons button{
    width: 20%;
    height: 2rem;
    border-radius: .2rem;
    border: none;
    background-color: #EEEEEE;
    color: #00001f;
    transition: 1s;
}
.main-buttons button:hover{
    background-color: #010125;
    color: #EEEEEE;
    width: 59%;
    transition: 2s;
    cursor: pointer;
}
.main-buttons button:active{
    background-color: #00001f;
    color: #EEEEEE;
    outline: .1rem solid #EEEEEE;
}

.footer{
    width: 80%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

/*
    CADASTRO STYLE
*/
.main-article-cadastro{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main-article-cadastro h3{
    width: 50%;
    text-align: center;
    font-size: 2rem;
}
.main-article-cadastro form{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.form-cadastro input{
    height: 2.2rem;
    font-size: 1.6rem;
}
.form-cadastro input[type="number"]{
    text-align: center;
}
.form-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.form-buttons button{
    width: 40%;
    height: 2rem;
    border-radius: .7rem;
    border: none;
    
    background-color: #EEEEEE;
    color: #00001f;
}
.form-buttons button:hover{
    background-color: #afafaf;
    cursor: pointer;
}
.form-buttons button:active{
    background-color: #00001f;
    color: #EEEEEE;
    outline: .1rem solid #EEEEEE;
}

/*
    VOTAR STYLE 
*/
.main-article-votar{
    width: 90%;
    height: 40%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.main-article-votar h3{
    font-size: 2rem;
}
.votacao{
    width: 50%;
    height: 50%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.votacao input{
    height: 30px;
    width: 30%;
    font-size: 1.6rem;
    text-align: center;
}
.votacao button{
    margin-top: 1rem;
    width: 30%;
    height: 30px;
    border-radius: 1rem;
    border: none;
    
    background-color: #EEEEEE;
    color: #00001f;
}
.votacao button:hover{
    background-color: #afafaf;
    cursor: pointer;
}
.votacao button:active{
    background-color: #00001f;
    color: #EEEEEE;
    outline: .1rem solid #EEEEEE;
}