@import 'scrollbar.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}
/*
    GENERAL STYLE
*/
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000, #00001f 75%);
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}
.all-content{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    max-height: 1100px;
    min-width: 720px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    width: 50%;
    text-align: center;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: .1rem #EEEEEE solid;
}
.main{
    width: 80%;
    min-width: 860px;
    height: 80%;

    border: 1px solid #EEEEEE;
    border-radius: 1rem;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-buttons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.main-buttons button{
    width: 20%;
    height: 2rem;
    border-radius: .2rem;
    border: none;
    background-color: #EEEEEE;
    color: #00001f;
    transition: 1s;
}
.main-buttons button:hover{
    background-color: #010125;
    color: #EEEEEE;
    width: 59%;
    transition: 2s;
    cursor: pointer;
}
.main-buttons button:active{
    background-color: #00001f;
    color: #EEEEEE;
    outline: .1rem solid #EEEEEE;
}

.footer{
    width: 80%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}




